.register{
  height: 100vh;
  width: 100vw;
  background-color: rgb(193, 190, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  .card{
      display: flex;
      flex-direction: row-reverse;
      width: 60%;
      max-height: 600px;
      border-radius: 10px;
      background-color: #fff;
      overflow: hidden;

      .left{
         width: 50%;
           
           background:linear-gradient(rgba(39,11,96,0.5),rgba(39,11,96,0.5)), url("https://images.unsplash.com/photo-1664575602276-acd073f104c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJ1c2luZXNzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60") center;
           background-size: cover;
           padding: 50px;
           display: flex;
           flex-direction: column;
           gap: 30px;
           color: #fff;
          h1{
              font-size: 80px;
              line-height: 80px;
          }
          p{
             font-size: 20px;
          }
          span{
              font-size: 15px;

          }
          button{
              width: 55%;
              padding: 10px;
              border: none;
              background-color: #fff;
              color: rebeccapurple;
              font-weight: bold;
              cursor: pointer;
              
          }
      }
      .right{
         width: 50%;
         padding: 50px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 50px;
          h1{
              color: #555;
          }
          form{
              display: flex;
              flex-direction: column;
              gap: 30px;
          }
          input{
            align-self: flex-start;
            padding: 5px;
          }
        
          button{
              width: 100%;
              padding: 10px;
              border: none;
              background-color: #938eef;
              cursor: pointer;
              color: #fff;
              font-weight: bold;
          }
      }
  }
}